.filePickerContainer {
    display: flex;
    position: absolute;
    background-color: #D1D5DB;
    left: 100%;
    padding: 0.75rem;
    margin-left: 0.75rem;
    flex-direction: column;
    border-radius: 0.375rem;
    width: 195px;
    height: 220px;

    &__box {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;

        &__label {
            padding-top: 0.375rem;
            padding-bottom: 0.375rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 0.375rem;
            border-width: 1px;
            border-color: #D1D5DB;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #374151;
            cursor: pointer;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        }

        &__text {
            margin-top: 0.5rem;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #6B7280;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &__button {
        display: flex;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 0.75rem;
    }
}